body {
    margin: 0px;
}

/* navbar */

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    background-color: #828282;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 4vh;
    cursor: pointer;

}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 4.5vh;
    cursor: pointer;
    color: #fff;
}

/* estilo de banner */
.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* estilos de tarjetas */

.seccion-shop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.tarjeta {
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.5);
    max-width: 375px;
    padding: 40px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.tarjeta>h3 {
    font-size: 20px;
    font-weight: bold;
}

.tarjeta>img {
    width: 90%;
    height: 230px;
}

.precio {
    color: #828282;
    font-size: 22px;
    padding-top: 12px;

}

.tarjeta button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

.tarjeta button:hover {
    opacity: 0.5;
}


/* estilos del modal  */



.modal-container {
    display: flex;
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #000;
    background-color: #828282;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    width: 100%;
}


.modal-header-title {
    justify-self: start;

}

.modal-header-button {
    cursor: pointer;
}


.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px;

  
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}

 .precioModal {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
}

.cantidadModal {
    font-size: 18px;
    padding: 2px;
    text-align: center;
    padding-top: 20px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
} 


@media only screen and (max-width: 750px) {
    
    .modal-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      min-height: 88vh;
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }

  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }

    .modalNombre{
        display: none;
    }
  }
  
  @media only screen and (max-width: 360px) {
    

    .tarjeta {
        box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.5);
        max-width: 300px;
        padding: 20px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }
    
    .tarjeta>h3 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .tarjeta>img {
        width: 90%;
        height: 230px;
    }
    
    .modal-container {
      display: flex;
      flex-wrap: wrap;   
      width: 100%;
      margin: 0;
      min-height: 88vh; 
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }

  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }

    .modalNombre{
        display: none;
    }
  }
  
/* eliminar productos */

.borrar-producto {
    cursor: pointer;
}

.fa-trash:hover:before {
    color: #e40000;
}

/* contador carrito  */

.cantidad-carrito {
    background-color: #e40000;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    padding: 5px;
    top: 3px;
    right: 14px;
    position: absolute;
    display: none;
}

/* botones de suma y resta de cantidad en modal  */

.sumar {
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}

.restar {
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;

}

